---
import Layout from "../layouts/Layout.astro";
import ConnectWallet from "../components/ConnectWallet.astro";
---

<script>
	import { wallet } from "../stores/contractStore";
	let retaineesBtn = document.getElementById(
		"my-retainees",
	) as HTMLButtonElement;
	let retainorsBtn = document.getElementById(
		"my-retainors",
	) as HTMLButtonElement;
	let connectedDiv = document.getElementById("connected") as HTMLDivElement;
	wallet.subscribe((value) => {
		if (value !== "") {
			connectedDiv.style.display = "block";
		} else {
			connectedDiv.style.display = "none";
		}
	});
	retaineesBtn.addEventListener("click", () => {
		window.location.href = "/retainor-profile";
	});
	retainorsBtn.addEventListener("click", () => {
		window.location.href = "/retainee-profile";
	});
</script>;

<script is:inline>
	var global = global || window;
</script>
<Layout title={"Soroban Payments App"}>
	<main>
		<ConnectWallet />
		<h1 class="text-gradient">Soroban Payments</h1>
		<p class="instructions">
			<strong>Instructions</strong><br />
			1. Connect your Stellar Wallet<br />
			2. Create a retainor or retainee profile<br />
			3. Make payments to retainees or send bills to retainors<br />
			4. View your payment history<br />
		</p>
		<div id="connected" style="display: none">
			<p class="instructions">
				<button id="my-retainees" class="cta-button"
					>Retainor Profile</button
				>
				<button id="my-retainors" class="cta-button"
					>Retainee Profile</button
				>
			</p>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 2rem;
		width: 80%;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		background: #1e1e1e;
		border-radius: 8px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			rgba(var(--accent-dark), 66%),
			rgba(var(--accent-dark), 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.instructions button {
		display: inline-block;
		width: 40%;
		margin-left: 5%;
		margin-right: 4%;
		place-items: center;
		justify-items: center;
		align-items: center;
	}
	.cta-button {
		display: inline-block;
		width: 45%;
		padding: 0.75rem;
		margin: 0.5rem;
		background: #007bff;
		color: white;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		font-size: 1rem;
		text-align: center;
		transition: background 0.3s ease;
	}
	.cta-button:hover {
		background: #0056b3;
	}

	/* Responsive Styles */
	@media (max-width: 768px) {
		main {
			width: 100%;
			padding: 1rem;
		}
		h1 {
			font-size: 2.5rem;
		}
		.instructions {
			font-size: 16px;
			padding: 1rem;
		}
		.cta-button {
			width: 100%;
			margin: 0.5rem 0;
		}
	}
</style>
