---
import Layout from "../layouts/Layout.astro";
import ConnectWallet from "../components/ConnectWallet.astro";
import RetaineeProfile from "../components/RetaineeProfile.astro";
import RetainorProfile from "../components/RetainorProfile.astro";
---

<script>
	import { wallet, activePage } from "../stores/contractStore";
	let retaineesBtn = document.getElementById(
		"my-retainees",
	) as HTMLButtonElement;
	let retainorsBtn = document.getElementById(
		"my-retainors",
	) as HTMLButtonElement;
	let connectedDiv = document.getElementById("connected") as HTMLDivElement;
	let retaineesDiv = document.getElementById("retainees") as HTMLDivElement;
	let retainorsDiv = document.getElementById("retainors") as HTMLDivElement;
	let retaineesList = document.getElementById(
		"retainees-list",
	) as HTMLDivElement;
	let retainorsList = document.getElementById(
		"retainors-list",
	) as HTMLDivElement;
	wallet.subscribe((value) => {
		if (value !== "") {
			connectedDiv.style.display = "block";
		} else {
			connectedDiv.style.display = "none";
		}
	});
	retaineesBtn.addEventListener("click", () => {
		activePage.set("retainorProfile");
	});
	retainorsBtn.addEventListener("click", () => {
		activePage.set("retaineeProfile");
	});
	activePage.subscribe((value) => {
		retainorsBtn.classList.remove("active");
		retaineesBtn.classList.remove("active");
		if (value === "retaineeProfile") {
			retaineesDiv.style.display = "none";
			retaineesList.style.display = "none";
			retainorsDiv.style.display = "block";
			retainorsList.style.display = "block";
			retainorsBtn.classList.add("active");
		} else if (value === "retainorProfile") {
			retainorsDiv.style.display = "none";
			retainorsList.style.display = "none";
			retaineesList.style.display = "block";
			retaineesDiv.style.display = "block";
			retaineesBtn.classList.add("active");
		} else {
			retainorsDiv.style.display = "none";
			retainorsList.style.display = "none";
			retaineesDiv.style.display = "none";
			retaineesList.style.display = "none";
		}
	});
</script>;

<script is:inline>
	var global = global || window;
</script>
<Layout title={"Soroban Payments App"}>
	<main>
		<ConnectWallet />
		<h1 class="text-gradient">Soroban Payments</h1>
		<p class="instructions">
			<strong>Instructions</strong><br />
			1. Connect your Stellar Wallet<br />
			2. Create a retainor profile or retainee profile<br />
			3. Make payments to retainees or send bills to retainors<br />
			4. View your payment history<br />
		</p>
		<div id="connected" style="display: none">
			<p class="instructions">
				<button id="my-retainees">Retainor Profile</button>
				<button id="my-retainors">Retainee Profile</button>
			</p>
			<p class="instructions" id="retainees">
				<RetainorProfile />
			</p>
			<p class="instructions" id="retainors" style="display: none">
				<RetaineeProfile />
			</p>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			rgba(var(--accent-dark), 66%),
			rgba(var(--accent-dark), 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.instructions button {
		display: inline-block;
		width: 40%;
		margin-left: 4%;
		margin-right: 4%;
		place-items: center;
		justify-items: center;
		align-items: center;
	}
</style>
