---
import Profile from "../components/RetainorProfile.astro";
import Layout from "../layouts/Layout.astro";
import ConnectWallet from "../components/ConnectWallet.astro";
---

<script is:inline>
    var global = global || window;
</script>
<Layout title={"Soroban Payments App"}>
    <main>
        <ConnectWallet />
        <Profile />
    </main>
</Layout>