---
import RetaineeList from "./RetaineeList.astro";
---

<div class="retainor-profile">
    <h2>My Retainor Profile</h2>
    <div class="form-group">
        <label for="retainor-info-name">Name:</label>
        <input type="text" id="retainor-info-name" />
    </div>
    <div class="form-group">
        <label for="retainor-info-retainees">Retainees (comma delimited):</label
        >
        <textarea id="retainor-info-retainees"></textarea>
    </div>
    <button id="retainor-info-btn">Create</button>
    <RetaineeList />
</div>

<script>
    import { wallet, retainees, retainorName } from "../stores/contractStore";
    import retainer from "../contracts/retainer";
import { signAndSendWithModal } from "../contracts/transactions";

    const onWalletValue = async (value: string) => {
        try {
            const { result } = await retainer.retainor_info({
                retainor: value,
            });
            console.log(result);
            if (result && result.hasOwnProperty("retainees")) {
                retainees.set(result.retainees);
                retainorName.set(result.name);
            }
        } catch (e) {
            console.error(e);
        }
    };

    const newRetainorButton = document.getElementById(
        "retainor-info-btn",
    ) as HTMLButtonElement;
    const retainorNameInput = document.getElementById(
        "retainor-info-name",
    ) as HTMLInputElement;
    const retainorRetaineesInput = document.getElementById(
        "retainor-info-retainees",
    ) as HTMLInputElement;

    retainorName.subscribe((value) => {
        if (value === "") {
            newRetainorButton.innerHTML = "Create";
        } else {
            newRetainorButton.innerHTML = "Update";
        }
        retainorNameInput.value = value;
    });

    retainees.subscribe((value) => {
        retainorRetaineesInput.value = value.join(",");
    });

    // listen for button click
    newRetainorButton.addEventListener("click", async () => {
        if (!retainorNameInput.value || wallet.get() === "") {
            return;
        }
        let _retainees: string[] = [];
        retainorRetaineesInput.value.split(",").forEach((r) => {
            if (r.trim() !== "") {
                _retainees.push(r.trim());
            }
        });
        const tx = await retainer.set_retainor_info({
            retainor: wallet.get(),
            name: retainorNameInput.value,
            retainees: _retainees,
        });

        signAndSendWithModal(
            tx,
            document,
            () =>
                onWalletValue(wallet.get()).then(() => {
                    console.log("onWalletValue");
                }),
            () => {},
        );
    });
</script>

<style>
    * {
        box-sizing: border-box;
    }
    h2 {
        margin-top: 0;
    }
    .retainor-profile {
        max-width: 600px;
        margin: auto;
        padding: 2rem;
        border-radius: 8px;
        border: 1px solid rgba(var(--accent-light), 25%);
        background: linear-gradient(
            rgba(var(--accent-dark), 66%),
            rgba(var(--accent-dark), 33%)
        );
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
