<div class="instructions" id="retainors-list">
    <strong>My Retainors</strong><br />
    <table class="retainors-table">
        <thead
            ><tr>
                <th>Name</th>
                <th>Address</th>
                <th>Manage</th>
            </tr></thead
        >
        <tbody id="retainors-table-body"></tbody>
    </table>
</div>
<script>
    import { retainors } from "../stores/contractStore";
    import retainer from "../contracts/retainer";
    import { urlForAccountAddress } from "../contracts/util";

    let retainorsList = document.getElementById(
        "retainors-table-body",
    ) as HTMLDivElement;

    const createRow = async (r: string) => {
        let name = "";
        try {
            let { result } = await retainer.retainor_info({
                retainor: r,
            });
            name = result.name;
            console.log(result);
        } catch (e) {
            console.log(`Unable to find retainor info for ${r}`);
        }
        return `<tr>
                    <td>${name}</td>
                    <td><a target="_blank" href="${urlForAccountAddress(r)}">${r.substring(0, 8)}...</a></td>
                    <td><a href="/retainor/${r}">Manage</a></td>
                </tr>`;
    };

    retainors.subscribe(async (value) => {
        let promises = value.map(async (r) => await createRow(r));
        let results = await Promise.all(promises);
        retainorsList.innerHTML = retainorsList.innerHTML = results.join("");
    });
</script>

<style>
    .instructions {
        margin-top: 1.5rem;
    }
</style>
