<div class="instructions" id="retainees-list">
    <strong>My Retainees</strong><br />
    <table class="retainees-table">
        <thead
            ><tr>
                <th>Name</th>
                <th>Address</th>
                <th>Manage</th>
            </tr></thead
        >
        <tbody id="retainees-table-body"></tbody>
    </table>
</div>

<script>
    import { retainees } from "../stores/contractStore";
    import retainer from "../contracts/retainer";
    import { urlForAccountAddress } from "../contracts/util";

    let retaineesList = document.getElementById(
        "retainees-table-body",
    ) as HTMLDivElement;

    const createRow = async (r: string) => {
        let name = "";
        try {
            let { result } = await retainer.retainee_info({
                retainee: r,
            });
            name = result.name;
            console.log(result);
        } catch (e) {
            console.log(`Unable to find retainee info for ${r}`);
        }
        return `<tr>
                    <td>${name}</td>
                    <td><a target="_blank" href="${urlForAccountAddress(r)}">${r.substring(0, 8)}...</a></td>
                    <td><a href="/retainee/${r}">Manage</a></td>
                </tr>`;
    };
    retainees.subscribe(async (value) => {
        let promises = value.map(async (r) => await createRow(r));
        let results = await Promise.all(promises);
        retaineesList.innerHTML = results.join("");
    });
</script>

<style>
    .instructions {
        margin-top: 1.5rem;
    }
    @media (max-width: 420px) {
        /* Table Styles */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 1rem;
            font-size: 0.875rem;
            background-color: #23262d;
            color: white;
            border-radius: 8px;
            overflow: hidden;
            display: table;
        }
        table th,
        table td {
            padding: 0.75rem;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        table th {
            background-color: #2c2f36;
            color: #fff;
        }
        table tr:nth-child(even) {
            background-color: #2c2f36;
        }
        table tr:hover {
            background-color: #3a3d44;
        }
        table a {
            color: #007bff;
            text-decoration: none;
        }
        table a:hover {
            text-decoration: underline;
        }
    }
</style>
