---
import ViewRetainee from "../../components/ViewRetainee.astro";
import Layout from "../../layouts/Layout.astro";
import ConnectWallet from "../../components/ConnectWallet.astro";

const { address } = Astro.params;
---

<script is:inline>
    var global = global || window;
</script>
<Layout title={"Soroban Payments App"}>
    <main>
        <ConnectWallet />
        <ViewRetainee address={address} />
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 2rem;
        width: 80%;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
        background: #1e1e1e;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
