---
import ViewRetainee from "../../components/ViewRetainee.astro";
import Layout from "../../layouts/Layout.astro";
import ConnectWallet from "../../components/ConnectWallet.astro";

const { address } = Astro.params;
---

<script is:inline>
    var global = global || window;
</script>
<Layout title={"Soroban Payments App"}>
    <main>
        <ConnectWallet />
        <ViewRetainee address={address} />
    </main>
</Layout>